.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  
}
 @media screen and (min-width: 428px) {
   .container {
     max-width: 428px;
    margin-left: auto;
    margin-right: auto;
   }
 }
  @media screen and (min-width: 768px) {
  .container {
  max-width: 768px;}
  }
 @media screen and (min-width: 1158px) {
.container {
 max-width: 1158px;
padding-left: 15px;
padding-right: 15px;}
  }

:root {
  --maim-color-text: #2e2f42;
  --accent-color-text: #4d5ae5;
  --background-color: #ffffff;
  --color-text-contact: #434455;
  --border-button: #e7e9fc;
  --border-icon: #8e8f99;
  --color-icon: #f4f4fd;
  --color-checkbox: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--maim-color-text);
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--maim-color-text);
}
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Logo*/
.logotype {
 /* margin-right: 76px;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-second {
  color: #2e2f42;
}
.logo-second-underside {
  color: #f4f4fd;
}
/*----HeaderMobile--------*/
@media screen and (max-width:767px) {
  
.menu {
  display: none;}

.menu-contacts {
  display: none;}

.header-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 22px;}

  .mobile-menu-btn {
    border: none;
    background: transparent;
    padding: 0;
  }
  .mobile-menu-icon {
      stroke: #2E2F42;
    }
  .mobile-menu {
    display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .mobile-menu-container {
      display: flex;
        flex-direction: column;
        justify-content: space-between;
      position: relative;
      padding-top: 80px;
      padding-left: 40px;
      padding-right: 35px;
    }
   .mobile-menu-link {
        font-weight: 700;
    font-size: 36px;
    line-height: 1.95;
    color: #2E2F42;
   }
     .mobile-menu-contacts {
      row-gap: 40px;
     }
     .mobile-menu-tel {
      font-style: normal;
      font-weight: 700;
        font-size: 36px;
        line-height: 1.95;
        color: #4D5AE5;
     }
.mobile-menu-email {
  font-style: normal;
font-weight: 500;
    font-size: 20px;
    line-height: 1.02;
    color: #434455;
}
.mobile-social-list {
  display: flex;
    justify-content:space-between ;
    gap: 40px;
   margin-top: 40px;
   margin-bottom: 40px;
  margin-right: 44px;}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #E7E9FC;
  border-radius: 50%;
background: transparent;
padding: 0;}
}
/*---HeaderTablet----*/
@media screen and (min-width: 768px) 
{
 .mobile-menu, .mobile-menu-btn {display: none;}
    .main-header {
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .header-container {
    display: flex;
    align-items: center;
        }
    .navigation {
    display: flex;
    align-items: center;
    gap: 120px;
                }
.menu {display: flex;
gap: 40px;}
.menu-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--maim-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-hover-st {
  color: #404bbf;
}

.menu-link-hover-st::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #404bbf;
}

.menu-link-hover-pf {
  color: #404bbf;
}

.menu-link-hover-pf::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: -1px;
  width: 66px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.menu-contacts {
  margin-left: auto;
}
.contact-list {
      display: flex;
        flex-direction: column;
        row-gap: 12px;
}
.menu-contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-text-contact);}
}
/*---------HeaderDesktop-----------*/
@media screen and (min-width: 1158px) {
.main-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--maim-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-hover-st {
  color: #404bbf;
}
.menu-link-hover-st::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #404bbf;
}
.menu-link-hover-pf {
  color: #404bbf;
}
.menu-link-hover-pf::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: -1px;
  width: 66px;
  height: 4px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: none;
}
.menu-contacts {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.menu-contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts-item:hover,
.menu-contacts-item:focus {
  color: #404bbf;
}
.menu-link-line::after {
  content: ____________;
  color: #404bbf;
}
}
/*--------HeroMobile-------------*/
  .hero {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 240px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/1x/Hero-m.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
         (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
  .hero {
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url('../images/2x/Hero-m@2x.jpg');
   }
   }
  .hero-title {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 48px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
   }
.order-button {
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*--------HeroTablet-------------*/
@media screen and (min-width:768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
}
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/1x/Hero-t.jpg');
}
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/2x/Hero-t@2x.jpg');

  }
}
/*--------HeroDesktop-------------*/
@media screen and (min-width:1158px) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url('../images/1x/Hero-d.jpg');
    }
  .hero-title {
width: 496px;
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 1157px),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/2x/Hero-d@2x.jpg');

  }
}
/*-------AdvantagesMobile---------*/
.advantages {
padding-top: 96px;
padding-bottom: 96px;
}

.adv-item-title {
text-align: center;
font-weight: 700;
}
.adv-item {
  margin-bottom: 72px;
}
.adv-item-icon-bg {
  display: none;
 
}

/*-------AdvantagesTablet---------*/
@media screen and (min-width:768px) {

.adv-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}
.adv-item {
  width: calc((100% - 24px) / 2);
}
}

/*-------AdvantagesDesktop---------*/
@media screen and (min-width: 1158px) {
.advantages {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .adv-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    
  }
    .adv-item-icon-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 264px;
      height: 112px;
      padding: 24px 100px;
      border-radius: 4px;
      background-color: #f4f4fd;
      margin-bottom: 8px;
    }
    .adv-item-title {
      text-align: left;
      font-weight: 500;
    }

}

/*------What are we doing Mobile and Tablet---------*/
@media screen and (max-width: 1157px) {
.projects {
  display: none;
}
}

/*------What are we doing Desktop---------*/
@media screen and (min-width: 1158px) {
.projects {
padding-bottom: 120px;
}

.project-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.project-title {
  margin-bottom: 72px;
}
.project-item {
  width: calc((100% - 48px) / 3);
}
}
/*------Our team Mobile-------*/
.our-team {
  margin-left: auto;
  margin-right: auto;
  padding: 96px 0;
  background-color: #f4f4fd;
}
.section-title {
  margin-bottom: 72px;
}
.our-team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-prof {
margin: 32px 16px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.name {
  text-align: center;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-icon {
  fill: var(--color-icon);
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
/*------Our team Tablet-------*/
@media screen and (min-width: 768px) {
.team-list {
  justify-content: center;
  flex-direction: unset;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}
.our-team-item {
max-width: 264px;
  width: calc((100% - 24px) / 2);
}
}
/*------Our team Desktop-------*/
@media screen and (min-width: 1158px) {
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
}
/*----------Customers Mobile------------*/
.customer-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customer-title {
  line-height: 1.1;
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  justify-content: center;
flex-wrap: wrap;
column-gap: 16px;
row-gap: 72px;
}
.customer-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--border-icon);
  border: 1px solid #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list-icon {
  fill: currentColor;
}
.customer-list-link:hover,
.customer-list-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
/*----------Customers Tablet------------*/
@media screen and (min-width: 768px) {
  .customer-list {
      column-gap: 24px;

    }
  
    .customer-list-item {
      width: calc((100% - 24px) / 4);
    }
}
/*----------Customers Desktop------------*/
@media screen and (min-width: 1158px) {
  .customer-list {
flex-wrap: unset;
    }
}
/*---------Portfolio filter button---------*/
.section-button {
  padding: 96px 0 120px;
}

.filter-button {
  height: 48px;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--border-button);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4d5ae5;
  background-color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

/*------Portfolio Works----------*/

.works-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.work-item {
  width: calc((100% - 48px) / 3);
}
.work-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-link:hover .overlay,
.work-list-link:focus .overlay {
  transform: translateY(0%);
}
.appl-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.work-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-link:hover,
.work-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*-------Footer Mobile--------*/
.underside {
  padding: 96px 0;
  background-color: #2e2f42;
}
.underside-container {
  display: flex;
  flex-direction: column;
}
.underside-desc {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.lower-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.sm-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.advertising-slogan {
  text-align: center;
  margin-bottom: 72px;
}
.social-list-link-us {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-us:hover,
.social-list-link-us:focus {
  background-color: #31d0aa;
}
.social-list-us {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media {
margin-bottom: 72px;
}
.subscribe {
  /*height: 80px;*/
  padding-bottom: 5px;
}
.subscribe-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
}
.subscribe-form-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  padding-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
}
.subscribe-form-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-btn-icon {margin-left: 16px;}

/*-------Footer Tablet--------*/
@media screen and (min-width: 768px) {
.underside-container {
  align-items: baseline;
}
.logo-and-social {
  display: flex;
margin-left: 108px;
margin-right: auto;
gap: 24px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 108px;

}
.subscribe-title {
  text-align: unset;
  margin-bottom: 16px;
}
.subscribe-form-input {
  width: 264px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-and-btn {
  display: flex;
  gap: 24px;
}
}
/*-------Footer Desktop--------*/
@media screen and (min-width: 1158px) {
  .underside {
    padding: 100px 0;
  }
.underside-container{
  flex-direction: unset;
  margin-left: 0;
  margin-right: 0;
}
.advertising-slogan {
  width: 264px;
  text-align: unset;
  margin-bottom: 0;
}
.logo-and-social {
  margin-left: 141px;
  gap: 120px;
}
.social-media {margin-bottom: 0;}
}
/*--------------Modal Window---------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.contact-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--maim-color-text);
  margin-bottom: 16px;
}
.contact-form-lab {
  margin-bottom: 8px;
}
.contact-form-wrapper,
.contact-form-checkbox-wrapper {
  display: block;
  margin-bottom: 8px;
}
.contact-form-wrapper {
  display: block;
  font-size: 12px;
  line-height: 1.17em;
  color: #8e8f99;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .contact-form-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-messange-input {
  width: 100%;
}

.contact-form-icon-wrapper {
  position: relative;
  display: block;
}
.contact-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.contact-form-comment {
  margin-bottom: 16px;
}
.contact-form-messange {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17em;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-messange::placeholder {
  font-size: 12px;
}
.contact-form-messange:focus {
  outline: none;
  border-color: #4d5ae5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----------Checkbox---------*/
.contact-form-checkbox-wrapper {
  font-size: 12px;
  color: #8e8f99;
  margin-bottom: 24px;
}
.contact-form-checkbox {
  appearance: none;
  position: absolute;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contact-form-checkbox-des {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-icon);
}
.contact-form-checkbox-cust {
  display: inline-flex;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-own-checkbox {
  border-radius: 2px;
  cursor: pointer;
}
.contact-form-policy {
  margin-left: 5px;
  color: #4d5ae5;
}
.contact-form-checkbox-icon {
  opacity: 0;
}
.contact-form-checkbox:checked
  + .contact-form-checkbox-des
  .contact-form-checkbox-icon {
  opacity: 1;
}
.contact-form-checkbox:checked + .contact-form-checkbox-des .contact-form-checkbox-cust {
  background-color: var(--color-checkbox);
  border: none;
  fill: var(--background-color);
  border-color: var(--color-checkbox);
}
.contact-form-submit {
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



